@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Titan+One&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.appbar {
  -webkit-app-region: drag;
}

:root {
  --toastify-color-dark: #181818 !important;
  overflow-x: hidden;
}

body {
  margin: 0;
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  @apply bg-zinc-800 bg-primaryBG rounded-md;
}

/* Handle */
::-webkit-scrollbar-thumb {
  @apply rounded-md bg-tertiaryBG;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

p,
h1,
h2,
h3 {
  @apply tracking-wide !important;
}

.Toastify__toast {
  font-weight: 500;
  font-family: "Inter" sans-serif;
}

.game-grid {
  display: grid;
  width: 100%;
  margin-left: 0.5rem;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  transition: all 0.8s ease-in-out;
}

@media screen and (min-width: 1482px) {
  .game-grid {
    margin-left: 4rem;
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
