@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Montserrat:wght@400;700&display=swap");

@tailwind components;
@tailwind utilities;

html,
body {
  @apply bg-primary;
}

body {
  margin: 0;
  font-family: "Montserrat";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  letter-spacing: 0.5px;
}

h2 {
  letter-spacing: 0.3px;
}

h3 {
  letter-spacing: 0.3px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
