.blur {
  backdrop-filter: blur(24px);
  background-color: rgba(216, 127, 224, 0.5);
}

.sidebar {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: flex-start;
  justify-content: flex-start;
}

.sidebar-controls {
  margin-top: auto;
  width: 14rem;
  margin-bottom: 10vh;
}

.sidebar-footer {
  margin-top: auto !important;
  margin-bottom: 0.5rem !important;
  margin-left: 0.5rem !important;
}
