body {
  background-image: url(../../../assets/storeBg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.blur {
  backdrop-filter: blur(24px);
  background-color: rgba(7, 20, 38, 0.5);
}
